doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes raices | #{pagina}
        link(rel="apple-touch-icon" sizes="180x180" href="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/72x72/1f3e0.png")
        link(rel="icon" type="image/png" sizes="32x32" href="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/72x72/1f3e0.png")
        link(rel="icon" type="image/png" sizes="16x16" href="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/72x72/1f3e0.png")
        link(rel="manifest" href="/site.webmanifest")
        meta(name="theme-color" content="#4f46e5")
        block styles
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-gray-50

        include includes/header-app
        main(class="mx-auto container mt-10 px-2")
            block  contenido
        block scripts